# API Keys
DISCORD_API_KEY=
SPEEDRUN_API_KEY=
GOOGLE_API_KEY=

# RulesBot information
# Channel ID that contains the rules of the server
RULES_CHANNEL=
# Message ID of the post that contains the rules of the server
RULES_MESSAGE=
# The name of the emoji that users should react with
RULES_EMOJI=
# The name of the role that the user will be assigned to
RULES_ROLE=

# Postgres database information used for the Eamuse rivals bot
POSTGRES_HOST=
POSTGRES_PORT=5432
POSTGRES_USER=honkbot
POSTGRES_PASSWORD=
