# Guild ID that this bot should run in
GUILD_ID=
# Discord API key
DISCORD_API_KEY=
# The remaining values are optional depending on what features you want
SPEEDRUN_API_KEY=
GOOGLE_API_KEY=
POSTGRES_HOST=
POSTGRES_PORT=5432
POSTGRES_USER=honkbot
POSTGRES_PASSWORD=
